.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  max-width: 400px;
  padding: 10px;
}

.task-form > * {
  margin-left: 5px;
}

.task-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.task :nth-child(1) {
  width: calc(100% / 2);
}

.task :nth-child(2) {
  width: calc(100% / 3);
}

.btn-add {
  background-color: #0bc886;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.btn-add:hover {
  background-color: #4dffbf;
}

.btn-delete {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: #ff4d4d;
}